body {
    background: white;
    max-width
    margin: 0 auto;
    font-family: "Arial", sans-serif;
}

.teaser {
    background-color: white;
}

.teaser__heading {
    margin: 0;
    padding: 15px;
}

.teaser__image {
    width: 100%;
}

.teaser__link:hover .teaser__heading {
  color: blue;
  text-decoration: underline;
}
