body {
    background: white;
    max-width
    margin: 0 auto;
    font-family: "Arial", sans-serif;
}

.teaser {
    background-color: white;
}

.teaser__heading {
    margin: 0;
    padding: 15px;
}

.teaser__image {
    width: 100%;
}

.teaser__link:hover .teaser__heading {
  color: blue;
  text-decoration: underline;
}

p {
    font-family: "Times New Roman", Times, serif;
}

  .markdown-body hr {
    height: .25em;
    padding: 0;
    margin: 24px 0;
    background-color: #e1e4e8;
    border: 0;
}

  hr::before, .rule::before {
  display: table;
  content: "";
}

  hr::after, .rule::after {
      display: table;
      clear: both;
      content: "";
}


}
