body {
    background: white;
    max-width
    margin: 0 auto;
    font-family: "Arial", sans-serif;
}

.teaser {
    background-color: white;
}

.teaser__heading {
    margin: 0;
    padding: 15px;
}

.teaser__image {
    width: 100%;
}

.teaser__link:hover .teaser__heading {
  color: blue;
  text-decoration: underline;
}

p {
    font-family: "Times New Roman", Times, serif;
}

h1, h2, h3 {
   font-family: "Times New Roman", Times, serif;
}

@media screen and (min-width:720px) => Phablet{

}
@media screen and (min-width:768px) => Tablet{

}
@media screen and (min-width:1024px) => Desktop{
  
}


}
